<ng-container [ngSwitch]="miLayout" *ngIf="(photo$ | async) as photo">

  <ng-container *ngSwitchCase="'gallery'">
    <ion-thumbnail class="gallery">
      <ion-img [src]="photo.thumbnail" [title]="asLocalTime(photo).toLocaleString()"></ion-img>
    </ion-thumbnail>
  </ng-container>

  <!-- mode='edit': support ion-reorder and ion-item-sliding -->
  <ion-item-sliding *ngSwitchCase="'edit'">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img [src]="photo.thumbnail"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h3>dateTaken: {{ asLocalTime(photo).toLocaleString()}}</h3>
        <p>{{ obj2String(asPosition(photo))}}</p>
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item-options>
      <ion-item-option color="danger" slot="top"  (click)="removeMarkerItem(photo)">
        <ion-icon name="trash" slot="top" ></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <!-- mode='list': show markerItem details -->
  <ion-item *ngSwitchCase="'list'">
    <ng-container *ngIf="photo.thumbnail as src; else pinIcon">
      <ion-thumbnail slot="start">
        <ion-img [src]="src"></ion-img>
      </ion-thumbnail>
    </ng-container>
    <ng-template #pinIcon>
      <ion-button class="thumbnail-overlay" slot="start" expand="full" size="large" color="dark">
        <ion-icon slot="icon-only" name="pin"></ion-icon>
      </ion-button>
    </ng-template>    
    <ion-label>
      <h3>dateTaken: {{ asLocalTime(photo).toLocaleString()}}</h3>
      <p>{{ obj2String(asPosition(photo))}}</p>
    </ion-label>
  </ion-item>

</ng-container>