<ion-item>

  <ion-button  fill="outline"  color="primary"
    (click)="handle_addByCameraRoll($event)">
    <ion-icon name="images"></ion-icon> 
  </ion-button>

  <ion-searchbar animated 
    [searchIcon]="stash.search.searchIcon" 
    [placeholder]="stash.search.placeholder"
    [type]="stash.search.type"
    [(ngModel)]="stash.search.value"
    [debounce]="1000"
    (ionInput)="searchBarInput($event)"
    (ionBlur)="handle_addMarkerLink()"
    ></ion-searchbar>

  <ion-button  fill="outline"  color="primary" [disabled]="!stash.enableCreateMarkerLink">
    <ion-icon name="link"></ion-icon> 
  </ion-button>

</ion-item>