
app-photoswipe .pswp {

  // define css4 vars
  @at-root.portrait & {
    --pswp-top-chrome: calc( 0px - var(--toolbar-min-height) );
    --pswp-top-safari: var(--google-map-bottom);
  }
  // @at-root.portrait.mobile-safari & { 
  // }
  @at-root.landscape & {
    --pswp-top-chrome: calc( 0px - var(--toolbar-min-height) - 0px );
    --pswp-height: calc( 100vh - var(--ion-safe-area-top) );
    --pswp-top-safari: var(--ion-safe-area-top);
    --pswp-left-safari: var(--google-map-landscape-right);
  }




  @at-root.portrait & {
    height: calc( 100vh - var(--google-map-height)  );
    top: var(--pswp-top-chrome);
  }
  @at-root.portrait.safari & {
    top: var(--pswp-top-safari);
  }
  @at-root.portrait.mobile-safari & {
    top: var(--pswp-top-safari);
  }

  @at-root.landscape & {
    width: calc(100vw - var(--google-map-landscape-right));
    top: var(--pswp-top-chrome);
    height: var(--pswp-height);
    left: 0px;
  }

  @at-root.landscape.safari &  {
    top: var(--pswp-top-safari);
    height: var(--pswp-height);
    left: var(--pswp-left-safari);
  }

  // force display of fs button when device fullscreen not available
  &.support-app-fs .pswp__button--fs {
    display: block !important; 
  }

}


.portrait, .landscape {
  @at-root .fullscreen-gallery app-photoswipe > .pswp {
    &.pswp {
      top: 0px;
      left: 0px;
      height: 100vh;
      width: 100vw;
      transform: translate3d(0,0,0);
    }

    // rollback safari `ion-safe-area` overrides for fullscreen, safari only
    @at-root.portrait.plt-ios.safari &.pswp  {
      top: 0px;
    }
    @at-root.landscape.plt-ios.safari &.pswp  {
      left: 0px;
    } 
    @at-root.portrait.chrome &.pswp {
      top: var(--pswp-top-chrome);
    }
  }

}









  
// // ip6/7/8 landscape
// @media only screen
//   and (max-width: 812px) 
// 	and (max-height: 414px) 
//   and (orientation: landscape)
//   and (-webkit-min-device-pixel-ratio: 2)
// {


// } 

// // ip6/7/8 PORTRAIT
// @media only screen 
//   and (max-width: 414px) 
// 	and (max-height: 812px) 
//   and (orientation: portrait)
//   and (-webkit-min-device-pixel-ratio: 2)
// {
  
// }

// breakpoint=lg
// $grid-breakpoints	(  xs: 0,  sm: 576px,  md: 768px,  lg: 992px,  xl: 1200px )
@media only screen 
  and (min-width: 992px)
{
  app-photoswipe .pswp {
    left: var(--split-pane-side-max-width);
    width: calc(100vw - var(--split-pane-side-max-width));
  }
}