app-photoswipe .pswp {
  // --google-map-bottom set in variables.scss 
  // top: var(--google-map-bottom);
  // height: calc(100vh - var(--google-map-bottom));
  top: calc(-1 * var(--toolbar-min-height));
  height: 100vh;

  // force display of fs button when device fullscreen not available
  &.support-app-fs .pswp__button--fs {
    display: block !important; 
  }
}

/**
* adjust CSS to allow fullscreen photoswipe in app.
* BUG: position:fixed and z-index not working in mobile safari
*/
.fullscreen-gallery app-photoswipe {
  transform: translate3d(0,0,0);
  .pswp {
    top: 0;
    left: 0;
    height: calc(100vh + var(--ion-safe-area-top));
    width: 100vw;
    transform: translate3d(0,0,0);
  }
}


  
// ip6/7/8 landscape
@media only screen
  and (max-width: 812px) 
	and (max-height: 414px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2)
{
  .fullscreen-gallery app-photoswipe.content-right-if-mq-landscape .pswp {
    // position: fixed does not include ion-safe-area
    // top: var(--ion-safe-area-top);
    left: calc(-1 * var(--google-map-landscape-right));
  }


  html.plt-ios app-photoswipe.content-right-if-mq-landscape .pswp {
    top: 0;
    left: var(--google-map-landscape-right);
    height: 100vh;
    width: calc(100vw - var(--google-map-landscape-right))
  }

  /**
   * HACK: fix ios landscape full screen rendering bug by
   * expanding photoswipe wrap before jumping to fullscreen
   */
  html.plt-ios .fullscreen-gallery app-photoswipe.content-right-if-mq-landscape {
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    // transition:All 0.3s ease-out;
    // -webkit-transition:All 0.3s ease-out;
    // -moz-transition:All 0.3s ease-out;
    // -o-transition:All 0.3s ease-out;
  }

  /**
  * HACK: adjust CSS to allow fullscreen photoswipe in app.
  * BUG: position:fixed and z-index not working in mobile safari
  */
  html.plt-ios .fullscreen-gallery app-photoswipe .pswp {
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
  }  

} 

// ip6/7/8 PORTRAIT
@media only screen 
  and (max-width: 414px) 
	and (max-height: 812px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2)
{
  app-photoswipe .pswp {
    // position: fixed does not include ion-safe-area
    // top:  calc( 0 + var(--ion-safe-area-top));
    height: calc(100vh + var(--ion-safe-area-top) - var(--google-map-bottom));
  }
  
  html.plt-ios app-photoswipe .pswp {
    top:  calc( var(--google-map-bottom) - var(--toolbar-min-height));
    height: calc( 100vh - var(--google-map-height) + var(--toolbar-min-height));
  }

  html.plt-ios .fullscreen-gallery app-photoswipe .pswp {
    top: 0;
    height: 100vh;
  }  

}

// breakpoint=lg
// $grid-breakpoints	(  xs: 0,  sm: 576px,  md: 768px,  lg: 992px,  xl: 1200px )
@media only screen 
  and (min-width: 992px)
{
  app-photoswipe .pswp {
    left: var(--split-pane-side-max-width);
    width: calc(100vw - var(--split-pane-side-max-width));
  }
}