.marker-group-focus.blur {
  display: none;
}

ion-grid {
  padding: 5px 0;

  ion-col.center {
    margin: 0 auto;
  }
}

ion-card.qrcode {
  margin: 0;
}

.marker-group.layout-share {
  ion-item {
    --padding-start: 0;
  }
  ion-chip.marker {
    height: 24px;
    padding: 0 8px;
    margin-right: 8px;
    ion-label {
      margin:0
    }
  }
}


/**
 * set layout dims on google maps container, google maps will fit inside
 */
ion-header.google-maps-wrap {
  height: var(--google-map-height);
  width: 100vw;
  background-color: white;
}


// ip6/7/8 LANDSCAPE
@media only screen
  and (max-width: 812px) 
	and (max-height: 414px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2)
{
  ion-header.google-maps-wrap {
    // height: calc(100% - var(--google-map-top));
    // width: var(--google-map-landscape-right-pct);
    height: calc(100vh - var(--google-map-top));
    width: var(--google-map-landscape-right);
  }
    
  ion-content.content-right-if-mq-landscape {
      position: absolute;
      left: var(--google-map-landscape-right);
      top: var(--toolbar-min-height);
      height: calc(100vh - var(--toolbar-min-height));
      width: calc(100vw - var(--google-map-landscape-right));
  }

  // rollback ion-col[offset-sm="2"] in landscape mode
  ion-col {
    --ion-grid-columns: 6;
    max-width: 100% !important;
    margin-left: 0 !important;
  }
} 

// ip6/7/8 PORTRAIT
@media only screen 
  and (max-width: 414px) 
	and (max-height: 812px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2)
{

  ion-row.hscroll-if-mq-portrait {
    flex-wrap: nowrap;
    overflow-x: scroll!important;
    overflow-y: hidden;
    word-wrap: break-word;
    height:100%;

  }
}




ion-reorder-group > ion-list {
  margin: 0;
}

ion-card-content {
  padding-top: 0;
}


ion-thumbnail {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  margin: 1px 1px 1px 0;
}

ion-button.as-thumbnail {
  width: var(--thumbnail-size);
  --height: var(--thumbnail-size);
  margin: 1px 1px 1px 0;

  &.button-ios ion-icon {
    font-size:48px;
  }  
}

// layout=edit, fix left whitespace for ion-item:last-child > ion-button.as-thumbnail 
ion-item.wrap-btn-as-thumbnail{
  border:none;
  margin-left: 16px;
  --padding-start: 0;
}

