// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #488aff;
  --ion-color-primary-rgb: 72,138,255;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3f79e0;
  --ion-color-primary-tint: #5a96ff;

  /** secondary **/
  --ion-color-secondary: #32db64;
  --ion-color-secondary-rgb: 50,219,100;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2cc158;
  --ion-color-secondary-tint: #47df74;

  /** tertiary **/
  --ion-color-tertiary: #f4a942;
  --ion-color-tertiary-rgb: 244,169,66;
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #d7953a;
  --ion-color-tertiary-tint: #f5b255;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  /** light **/
  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  
  /** dark **/
  --ion-color-dark: #222;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;




  

  // ionic component overrides
  --toolbar-min-height: 44px;
  --split-pane-side-max-width: 280px;
  ion-toolbar {
    --min-height: var(--toolbar-min-height);
  }
  ion-split-pane.split-pane-md.split-pane-visible>.split-pane-side {
    max-width: var(--split-pane-side-max-width);
  }

  // thumbnails
  --thumbnail-size: 80px;
  @media only screen 
    and (max-width: 767px) 
    // and (-webkit-min-device-pixel-ratio: 2) 
  {
    --thumbnail-size:56px;
    ion-thumbnail {
      --thumbnail-size: 56px;
    }
  }

      
  ion-modal {
    top: var(--google-map-bottom);
    height: calc( 100vh - var(--google-map-bottom) );
    @at-root.plt-mobile ion-modal {
      top: 0px;
      height: 100vh;
    }
  }


  /**
  * google map reference points
  */
  // baseline (portrait)
  --google-map-size: 40vh;
  --google-map-landscape-right: 40vw;
  --google-map-top: var(--ion-safe-area-top);
  --google-map-height: calc(var(--google-map-size) - var(--google-map-top));
  --google-map-bottom: var(--google-map-size);
  --google-map-width: 100vw;

  // landscape
  --google-map-top-landscape: var(--ion-safe-area-top);
  --google-map-height-landscape: calc( 100vh - var(--google-map-top-landscape));
  --google-map-width-landscape: var(--google-map-landscape-right);

  // menu open
  --google-map-lg-left: var(--split-pane-side-max-width);


  /**
   * for ion-nav-push/pop navigation ABOVE .content-fixed
   */
  ion-nav {
    z-index: -1; 
    &.activated {
      // stack above .content-fixed
      z-index: 9;
    }
  }

  ion-split-pane {
    top: var(--google-map-height);
  }

  @media only screen 
  and (max-width: 991px)
  {  
    @at-root.landscape {
      & ion-split-pane.content-right-if-mq-landscape {
        top: var(--ion-safe-area-top);
        left: var(--google-map-landscape-right);
      }
      & .ion-page ion-header ion-toolbar:first-child {
        padding-top: 0px;
      }
    }
  }


  --thumbnail-size: 80px;
  // $grid-breakpoints	(  xs: 0,  sm: 576px,  md: 768px,  lg: 992px,  xl: 1200px )
  @media only screen 
    and (max-width: 767px) 
    // and (-webkit-min-device-pixel-ratio: 2) 
  {
    --thumbnail-size:56px;
    ion-thumbnail {
      --thumbnail-size: 56px;
    }
  }




  html, body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    min-height: calc(100% + constant(safe-area-inset-top));
    min-height: calc(100% + env(safe-area-inset-top));
  }


  /**
   * rules for position:fixed map and photoswipe
   */
  .content-fixed {
    .fixed {
      // stack ABOVE <ion-content> 
      position: fixed;
      z-index: 2;
      // z-index:0 stacks BELOW <ion-content>
      background-color: white;
    }

    // define rules
    & .google-maps-host-wrap {
      top: var(--google-map-top);
      height: var(--google-map-height);
      width: var(--google-map-width);
      // padding-top: var(--ion-safe-area-top);
    }

    @at-root.portrait {
      .photoswipe-wrap .pswp {
        top: var(--google-map-bottom);
        height: calc( 100vh - var(--google-map-bottom) );
      }
      .fullscreen-gallery .photoswipe-wrap .pswp {
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        transform: translate3d(0,0,0);
      }
    }

    @media only screen 
    and (max-width: 991px)
    {
      @at-root.landscape  {

        .google-maps-host-wrap.google-maps-host-wrap {
          top: var(--google-map-top-landscape);
          height: var(--google-map-height-landscape);
          width: var(--google-map-width-landscape);
          // padding-top: var(--ion-safe-area-top);
        }

        .photoswipe-wrap .pswp {
          top: calc( 0px + var(--ion-safe-area-top) );
          height: calc( 100vh - 0px - var(--ion-safe-area-top) );
          left: var(--google-map-width-landscape);
          width: calc( 100vw - var(--google-map-width-landscape) );
        }

        .fullscreen-gallery .photoswipe-wrap .pswp {
          top: 0px;
          left: 0px;
          height: 100vh;
          width: 100vw;
          transform: translate3d(0,0,0);
        }

      }
    }
  }

  // $grid-breakpoints	(  xs: 0,  sm: 576px,  md: 768px,  lg: 992px,  xl: 1200px )
  // sidemenu open overrides
  @media only screen 
  and (min-width: 1200px)
  {
    .DEV {
      display: none;
    }
  
    .photoswipe-host-wrap .pswp {
      left: var(--split-pane-side-max-width);
      width: calc(100vw - var(--split-pane-side-max-width));
    }

    ion-modal {
      top: var(--google-map-bottom);
      left: var(--split-pane-side-max-width) !important;
      width: calc(100vw - var(--split-pane-side-max-width)) !important;
      height: calc( 100vh - var(--google-map-bottom) );
    }
  }

}



