
<div [ngSwitch]="layout" *ngIf="(markerList$ | async) as mList">

  <!-- default gallery view -->
  <ion-card *ngSwitchCase="'gallery'">
    <ion-card-header (click)="getTitle($event)">
      <ion-toolbar color="primary">
        <ion-title>{{ mList.label || mList.seq+1 }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="nav(mList)">
              <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>
        <ion-item>
          <ion-button slot="start" class="marker-wrap"  (click)="selectMarkerList(mList, $event)">
            <ion-chip class="marker" color="primary" fill="solid">
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>{{this.seq+1}}</ion-label>
            </ion-chip>
          </ion-button>
          <ion-label>
            <p>{{ humanize.position(mList) | json }}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label text-wrap>
            <ul class="inline-with-disc">
              <li *ngFor="let mg of getSubjByParentUuid_Watch$(mList.uuid) | async">
                {{mg.label}}
              </li>
            </ul> 
          </ion-label>
        </ion-item>  

      <ion-item class="gallery"  (click)="nav(mList)">
        <ng-container *ngFor="let mg of getSubjByParentUuid_Watch$(mList.uuid) | async">
          <ng-container *ngIf="mg?.markerItemIds?.length; else gallery_pinIcon">
            <ng-container *ngIf="getSubjByParentUuid_Watch$(mg.uuid) | async as items">
              <app-marker-item *ngIf="items[0] as mi" 
                [mi]="mi" [parentLayout]="'gallery'" 
                [dim]="thumbDim"
                (miChange)="childComponentsChange($event)"></app-marker-item>
            </ng-container>
          </ng-container>
          <ng-template #edit_pinIcon>
            <ion-button class="as-thumbnail" slot="start" expand="full" size="large" color="primary">
              <ion-icon name="pin" slot="icon-only"></ion-icon>
            </ion-button>
          </ng-template>
        </ng-container>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- mode='edit': remove owned maps -->
  <ion-item-sliding *ngSwitchCase="'edit'">
      <ion-item>
        <ng-container *ngIf="mList.markerGroupIds.length; else edit_pinIcon">
          <ng-container *ngFor="let mg of getSubjByParentUuid_Watch$(mList.uuid) | async | slice:0:1">
              <ng-container *ngFor="let mi of getSubjByParentUuid_Watch$(mg.uuid) | async | slice:0:1">
                  <ion-badge class="thumbnail-overlay" color="primary"> {{mList.seq+1}} </ion-badge>
                  <app-marker-item 
                    [mi]="mi" [parentLayout]="'gallery'" 
                    [dim]="thumbDim"
                    (miChange)="childComponentsChange($event)"></app-marker-item>
              </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #edit_pinIcon>
          <ion-button class="as-thumbnail" slot="start" expand="full" size="large" color="primary">
            <ion-icon name="pin" slot="icon-only"></ion-icon>
          </ion-button>
        </ng-template>      
  
        <ion-label>
          <h3>{{ mList.label || mList.seq+1 }}</h3>
          <p>{{ humanize.position(mList) | json }}</p>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>  
  
      <ion-item-options>
        <ion-item-option color="danger" slot="top" (click)="removeMarkerList(mList)">
          <ion-icon name="trash" slot="top"></ion-icon>
          <ion-label>Delete</ion-label>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

</div>