
<div [ngSwitch]="layout" *ngIf="(markerList$ | async) as mList">

  <ion-card *ngSwitchCase="'gallery'">
    <ion-card-header (click)="nav(mList)">
      <ion-toolbar color="primary">
        <ion-title>{{ mList.label || mList.seq+1 }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="nav(mList)">
              <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
      <ion-item>
          
        <ion-buttons >
          <ion-button color="primary" fill="outline" slot="start">
              <ion-icon name="pin"></ion-icon>
              <ion-badge color="primary">{{mList.markerGroupIds.length}}</ion-badge>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      
      <ion-label>
        <p>loc: [{{ mList.loc }}]</p>
        <p>offset: [{{ mList.locOffset }}]</p>
      </ion-label>
      <ion-label *ngFor="let mg of getSubjByParentUuid_Watch$(mList.uuid) | async">
        {{mg.label}}
      </ion-label>

      <ion-item class="gallery">
        <ng-container *ngFor="let mg of getSubjByParentUuid_Watch$(mList.uuid) | async">
          <ng-container *ngIf="mg?.markerItemIds?.length; else gallery_pinIcon">
            <ng-container *ngIf="getSubjByParentUuid_Watch$(mg.uuid) | async as items">
              <app-marker-item *ngIf="items[0] as mi" 
                [mi]="mi" [parentLayout]="'gallery'" 
                [dim]="thumbDim"
                (miChange)="childComponentsChange($event)"></app-marker-item>
            </ng-container>
          </ng-container>
          <ng-template #edit_pinIcon>
            <ion-button class="as-thumbnail" slot="start" expand="full" size="large" color="primary">
              <ion-icon name="pin" slot="icon-only"></ion-icon>
            </ion-button>
          </ng-template>
        </ng-container>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- mode='edit': support ion-reorder and ion-item-sliding -->
  <ion-item-sliding *ngSwitchCase="'edit'">
      <ion-item>
        <ng-container *ngIf="mList.markerGroupIds.length; else edit_pinIcon">
          <ng-container *ngFor="let mg of getSubjByParentUuid_Watch$(mList.uuid) | async | slice:0:1">
              <ng-container *ngFor="let mi of getSubjByParentUuid_Watch$(mg.uuid) | async | slice:0:1">
                  <ion-badge class="thumbnail-overlay" color="primary"> {{mList.seq+1}} </ion-badge>
                  <app-marker-item 
                    [mi]="mi" [parentLayout]="'gallery'" 
                    [dim]="thumbDim"
                    (miChange)="childComponentsChange($event)"></app-marker-item>
              </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #edit_pinIcon>
          <ion-button class="as-thumbnail" slot="start" expand="full" size="large" color="primary">
            <ion-icon name="pin" slot="icon-only"></ion-icon>
          </ion-button>
        </ng-template>      
  
        <ion-label>
          <h3>{{ mList.label || mList.seq+1 }}</h3>
          <p>{{ asPositionLabel(mList) | json }}</p>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>  
  
      <ion-item-options>
        <ion-item-option color="danger" slot="top" (click)="removeMarkerGroup(marker)">
          <ion-icon name="trash" slot="top"></ion-icon>
          <ion-label>Delete</ion-label>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

</div>