<ion-app class="google-maps-header">
    <!-- googleMaps -->
  <div id="google-maps-host" class="google-maps-host-wrap">
      <app-google-maps-host apiKey="AIzaSyApvJzra_C7sKYF8q1InQWw5c7RfTYTg94">
      </app-google-maps-host>
  </div>
  <ion-split-pane class="content-right-if-mq-landscape" when="lg">
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item>
            <ion-button color="danger" fill="solid"
            (click)="reset()"
            >reset</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main
      (activate)="!!$event.viewWillEnter ? $event.viewWillEnter() : undefined"
      (deactivate)="!!$event.viewWillLeave ? $event.viewWillLeave() : undefined"
      ></ion-router-outlet>
  </ion-split-pane>
</ion-app>
