.help-modal {
  z-index: 99999;
}

ion-grid.center-grid {
  background-color: rgba(0,0,0,0.5);
  margin: 0px;
  &, & > ion-row {
    height: 100%;
  }
  .content {
    background-color: rgba(0,0,0,0.8);
    p, h1 {
      margin-bottom: 0.8em;
    }
  }
}