<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <!-- list -->
    <ng-container [ngSwitch]="layout">
      <ion-grid no-padding *ngSwitchCase="'default'">
          <ion-row>
              <ion-col size="12" size-sm="6" size-xl="4" 
              *ngFor="let item of mListCollection$ | async"
              >
                  <app-marker-list
                    [mList]=item
                    (mListChange)="childComponentsChange($event)"
                  ></app-marker-list>

              </ion-col>
          </ion-row>
      </ion-grid>
    </ng-container>
</ion-content>

<div [ngStyle]="{visibility:'hidden'}">
  <app-google-maps
    apiKey="AIzaSyApvJzra_C7sKYF8q1InQWw5c7RfTYTg94" 
    ></app-google-maps>
</div>