<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Maps
    </ion-title>
    <ion-buttons slot="end">
        <ion-button fill="outline" (click)="createOpenMarkerList($event)" *ngIf="layout!='edit'">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button  color="secondary" fill="outline" (click)="toggleEditMode('commit')" *ngIf="layout=='edit'">
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button  color="danger" fill="outline" (click)="toggleEditMode('rollback')" *ngIf="layout=='edit'">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>         
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-header class="google-maps-wrap hide">
    <app-google-maps #gmap *ngIf="markerCollection$ | async as items"
    [items]="items"
    [mode]="mapSettings"
    [selected]="selectedMarkerList"
    (selectedChange)="handle_MapMarkerSelected($event)"
    ></app-google-maps>
  </ion-header>

<ion-content>
    
    <!-- list -->
    <ng-container [ngSwitch]="layout">
      <ion-grid no-padding *ngSwitchCase="'default'">
          <ion-row>
              <ion-col size="12" size-sm="6" size-xl="4" 
              *ngFor="let item of mListCollection$ | async"
              >
                  <app-marker-list
                    [mList]=item [parentLayout]="layout" 
                    (mListChange)="childComponentsChange($event)"
                  ></app-marker-list>

              </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size="12" size-sm="6" size-xl="4">
              <ion-item class="add-marker-list wrap-btn-as-thumbnail" (click)="createMarkerList($event)">
                <ion-button class="as-thumbnail" slot="start" expand="full" size="large">
                  <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
                <ion-label color="primary"> Add Map </ion-label>
              </ion-item>
            </ion-col>
          </ion-row> -->
      </ion-grid>
      
      
      <ion-grid no-padding  *ngSwitchCase="'edit'">
        <ion-row>
          <ion-col size="12" size-sm="8" offset-sm="2" size-xl="6" offset-xl="3">
            <ion-reorder-group 
            [disabled]="layout!='edit'" 
            (ionItemReorder)="reorderMarkerList($event)">
            <!-- NOTE: ion-reorder does NOT drag-drop app-markger-group unless wrapped by ion-list -->
            <ion-list *ngFor="let item of mListCollection$ | async" >
              <app-marker-list *ngIf="item?._rest_action!='delete'"
                [mList]=item [parentLayout]="layout" 
                (mListChange)="childComponentsChange($event)"
                [(mListFocus)]="mListFocus" ></app-marker-list>
            </ion-list>
            <ion-list>
              <ion-item class="add-marker-item wrap-btn-as-thumbnail" (click)="createMarkerList($event)">
                <ion-button  class="as-thumbnail" slot="start" expand="full" size="large">
                  <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
                <ion-label color="primary"> Add Map </ion-label>
              </ion-item>
            </ion-list>                  
          </ion-reorder-group>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ng-container>
</ion-content>