ion-card {
  margin:0;
}


// ip6/7/8 PORTRAIT
@media only screen 
	and (max-device-height: 812px) 
	and (orientation: portrait)
{
  ion-card.hscroll-if-mq-portrait {
    height: 47vh;
  }
}


ion-card-content {
  padding-top: 0;
}


ion-item.gallery { 
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  --inner-border-width: 0;
}


ion-thumbnail {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  margin: 1px 1px 1px 0;
}

ion-button.as-thumbnail {
  width: var(--thumbnail-size);
  --height: var(--thumbnail-size);
  margin: 1px 1px 1px 0;

  &.button-ios ion-icon {
    font-size:48px;
  }
}

// layout=edit, fix left whitespace for ion-item:last-child > ion-button.as-thumbnail 
ion-item.wrap-btn-as-thumbnail{
  border:none;
  margin-left: 16px;
  --padding-start: 0;
}
