.gallery { 
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;   
}



.gallery ion-thumbnail {
  margin-right: 1px;
  min-width: 80px;
}

ion-item.add-marker-item {
  position: relative;
}
ion-item.add-marker-item ion-button {
  position: absolute;
  margin: 0;
}

ion-button.thumbnail-overlay {
  opacity: 0.7;  
  width: 80px !important;
  --height: 80px !important;
}