<div [ngSwitch]="mgLayout">

  <!-- 'focus-marker-group' view -->
  <ion-card *ngSwitchCase="'focus-marker-group'">
    <ion-card-header color="secondary">
      <ion-item color="primary">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{ marker.label || obj2String(marker.position) }}</ion-label>
        <ion-buttons slot="end">
          <ion-button  color="light" fill="outline" (click)="toggleEditMode()">
            <ion-icon name="create" slot="icon-only" *ngIf="mgLayout!='focus-marker-group'"></ion-icon>
            <ion-icon name="save" slot="icon-only" *ngIf="mgLayout=='focus-marker-group'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-reorder-group disabled="false" 
        (ionItemReorder)="reorderMarkerItem($event, marker)">
        <ion-list *ngFor="let photo of marker.markerItems">
          <app-marker-item [photo]="photo" [mgLayout]="mgLayout" 
            (miRemove)="removeMarkerItem($event, marker)"></app-marker-item>
        </ion-list>
        <ion-list>            
          <ion-item class="add-marker-item" (click)="createMarkerItem($event, marker)">
              <ion-button class="thumbnail-overlay" slot="start" expand="full" size="large" color="dark">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
              <ion-thumbnail slot="start">
                <ion-img src="https://picsum.photos/80?random=0"></ion-img>
              </ion-thumbnail>
            <ion-label color="primary"> add photo/marker </ion-label>
          </ion-item>            
        </ion-list>
      </ion-reorder-group>
    </ion-card-content>
  </ion-card>

  <!-- 'gallery' view -->
  <ion-card *ngSwitchCase="'gallery'">
    <ion-card-header color="secondary">
      <ion-item>
        <ion-icon name="pin" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h3>
            <ion-text color="primary">{{ marker.label || obj2String(marker.position) }}</ion-text>
          </h3>
          <p>offset: [{{ marker.locOffset }}]</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="primary" fill="outline" (click)="toggleEditMode()">
            <ion-icon name="create" slot="icon-only" *ngIf="!edit"></ion-icon>
            <ion-icon name="save" slot="icon-only" *ngIf="edit"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="gallery">
        <ion-button class="thumbnail-overlay" slot="start" expand="full" size="large" color="dark"
          *ngIf="marker.markerItems.length==0">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-button>
        <ng-container *ngFor="let pid of marker.markerItemIds.slice(0,miLimit)">
            <app-marker-item [photo]="markerItems[pid]" [mgLayout]="mgLayout"></app-marker-item>
        </ng-container>            
        <ion-badge color="primary" float-right *ngIf="marker.markerItemIds.length-miLimit>0">+{{marker.markerItemIds.length-miLimit}}</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- mode='edit': support ion-reorder and ion-item-sliding -->
  <ion-item-sliding *ngSwitchCase="'edit'">
    <ion-item>
      <ng-container *ngIf="marker.markerItems[0] as photo">
          <ion-thumbnail slot="start">
            <ion-img [src]="photo.thumbnail"></ion-img>
          </ion-thumbnail>
      </ng-container>
      <ng-container *ngIf="marker.markerItems.length==0">
          <ion-button class="thumbnail-overlay" slot="start" expand="full" size="large" color="dark">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-button>
      </ng-container>

      <ion-label>
        <h3>{{ marker.label || obj2String(marker.position) }}</h3>
        <p *ngIf="marker.label">{{ obj2String(marker.position) }}</p>
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>  

    <ion-item-options>
      <ion-item-option color="danger" slot="top" (click)="removeMarkerGroup(marker)">
        <ion-icon name="trash" slot="top"></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>

  <!-- mode='list': show markerItem details -->
  <ion-card *ngSwitchCase="'list'">
    <ion-card-header color="secondary">
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label color="primary">{{ marker.label || obj2String(marker.position) }}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <app-marker-item 
          *ngFor="let photo of marker.markerItems"
          [photo]="photo" [mgLayout]="mgLayout" ></app-marker-item>

        <!-- <ion-item *ngFor="let photo of marker.markerItems">
          <ion-thumbnail slot="start">
            <ion-img [src]="photo.thumbnail"></ion-img>
          </ion-thumbnail>
          <ion-label>lorem ipsum</ion-label>
        </ion-item> -->
      </ion-list>
    </ion-card-content>
  </ion-card>


</div>