<div [ngSwitch]="layout" *ngIf="(markerGroup$ | async) as marker">
  <!-- layout={{layout}} -->
  <!-- 'focus-marker-group' view -->
  <ion-card *ngSwitchCase="'focus-marker-group'">
    <ion-card-header color="secondary">
      <ion-item color="primary">
        <ion-icon name="pin" slot="start" color="primary"></ion-icon>
        <ion-label>{{ marker.label || marker.seq+1 }}</ion-label>
        <ion-buttons slot="end">
          <ion-button  color="light" fill="outline" (click)="toggleEditMode()" *ngIf="layout!='focus-marker-group'">
            <ion-icon name="list" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button  color="secondary" fill="outline" (click)="toggleEditMode('commit')" *ngIf="layout=='focus-marker-group'">
            <ion-icon name="checkmark" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button  color="danger" fill="outline" (click)="toggleEditMode('rollback')" *ngIf="layout=='focus-marker-group'">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>                      
        </ion-buttons>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-reorder-group 
        [disabled]="layout!='focus-marker-group'"
        (ionItemReorder)="reorderMarkerItem($event)">
        <ion-list *ngFor="let mi of miCollection$[marker.uuid] | async" #markerItemList>
          <app-marker-item *ngIf="mi?._rest_action!='delete'"
           [mi]="mi" [parentLayout]="layout" (miChange)="childComponentsChange($event)"></app-marker-item>
        </ion-list>
        <ion-list>            
          <ion-item class="add-marker-item wrap-btn-as-thumbnail" (click)="createMarkerItem($event)">
            <ion-button class="as-thumbnail" slot="start" expand="full" size="large">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            <ion-label color="primary"> Add photo/marker </ion-label>
          </ion-item>            
        </ion-list>
      </ion-reorder-group>
    </ion-card-content>
  </ion-card>

  <!-- 'gallery' view -->
  <ion-card *ngSwitchCase="'gallery'">
    <ion-card-header color="secondary">
      <ion-item>
        <ion-icon name="pin" slot="start" color="primary" (click)="selectMarkerGroup(marker)"
        ></ion-icon>
        <ion-label>
          <h3>
            <ion-text color="primary">{{ marker.label || marker.seq+1 }}</ion-text>
          </h3>
          <p>{{ asPositionLabel(marker) | json }}</p>
          <p>loc: [{{ marker.loc }}]</p>
          <p>offset: [{{ marker.locOffset }}]</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="primary" fill="outline" (click)="toggleEditMode()">
            <ion-icon name="create" slot="icon-only" *ngIf="parentLayout!='edit'"></ion-icon>
            <ion-icon name="save" slot="icon-only" *ngIf="parentLayout=='edit'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="gallery">
        <ng-container *ngIf="marker?.markerItemIds?.length; else gallery_pinIcon">
          <ng-container *ngFor="let mi of miCollection$[marker.uuid] | async | slice:0:miLimit">
              <app-marker-item *ngIf="mi?._rest_action!='delete'"
              [mi]="mi" [parentLayout]="layout" 
              (click)="thumbClicked(marker, mi)"
              (miChange)="childComponentsChange($event)"></app-marker-item>
          </ng-container>
        </ng-container>

        <ng-template #gallery_pinIcon>
          <ion-button class="as-thumbnail" slot="start" expand="full" size="large" color="primary">
            <ion-icon name="pin" slot="icon-only"></ion-icon>
          </ion-button>
        </ng-template>

        <ion-badge color="primary" float-right *ngIf="marker.markerItemIds.length>miLimit">+{{marker.markerItemIds.length-miLimit}}</ion-badge>

      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- 'share' view, readonly -->
  <ion-card class="marker-group layout-share" *ngSwitchCase="'share'">
      <ion-card-header padding-vertical color="secondary">
        <ion-item>
              <ion-chip class="marker" color="primary" fill="solid" (click)="selectMarkerGroup(marker)">
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label>{{marker.seq+1}} </ion-label>
              </ion-chip>

          <ion-label>
            <h3>
              <ion-text color="primary">{{ marker.label || marker.seq+1 }}</ion-text>
            </h3>
            
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary" fill="outline" (click)="toggleFavorite()">
              <ion-icon [name]="stash.favorite ? 'heart' : 'heart-empty'" slot="icon-only" ></ion-icon>
            </ion-button>
            <ion-button color="primary" fill="outline">
              <ion-icon name="share" slot="icon-only" ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card-header>
  
      <ion-card-content>
        <ion-item no-padding>
            <p>{{ asPositionLabel(marker) | json }}</p>
        </ion-item>
        <ion-item class="gallery">
          <ng-container *ngIf="marker?.markerItemIds?.length; else gallery_pinIcon">
            <ng-container *ngFor="let mi of miCollection$[marker.uuid] | async | slice:0:miLimit">
                <app-marker-item *ngIf="mi?._rest_action!='delete'"
                [mi]="mi" [parentLayout]="layout" 
                (click)="thumbClicked(marker, mi)"></app-marker-item>
            </ng-container>
          </ng-container>
  
          <ng-template #gallery_pinIcon>
            <ion-button class="as-thumbnail" slot="start" expand="full" size="large" color="primary">
              <ion-icon name="pin" slot="icon-only"></ion-icon>
            </ion-button>
          </ng-template>
  
          <ion-badge color="primary" float-right *ngIf="marker.markerItemIds.length>miLimit">+{{marker.markerItemIds.length-miLimit}}</ion-badge>
  
        </ion-item>
      </ion-card-content>
    </ion-card>

  <!-- mode='edit': support ion-reorder and ion-item-sliding -->
  <ion-item-sliding class="layout-edit" *ngSwitchCase="'edit'">
    <ion-item>
      <ng-container *ngIf="marker?.markerItemIds?.length; else edit_pinIcon">
        <ng-container *ngFor="let mi of miCollection$[marker.uuid] | async | slice:0:1">
          <ion-badge class="thumbnail-overlay" color="primary"> {{marker.seq+1}} </ion-badge>
          <app-marker-item [mi]="mi" [parentLayout]="'gallery'" 
            (miChange)="childComponentsChange($event)"></app-marker-item>
        </ng-container>
      </ng-container>
      <ng-template #edit_pinIcon>
        <ion-button class="as-thumbnail" slot="start" expand="full" size="large" color="primary">
          <ion-icon name="pin" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-template>      

      <ion-label>
        <h3>{{ marker.label || marker.seq +1 }}</h3>
        <p>{{marker.uuid}}</p>
        <p>{{ asPositionLabel(marker) | json }}</p>
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>  

    <ion-item-options>
      <ion-item-option color="danger" slot="top" (click)="removeMarkerGroup(marker)">
        <ion-icon name="trash" slot="top"></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- (UNUSED) mode='list': show markerItem details -->
  <ion-card *ngSwitchCase="'list'">
    <ion-card-header color="secondary">
      <ion-item>
        <ion-icon name="pin" slot="icon-only" color="primary"></ion-icon>
        <ion-label color="primary">{{ marker.label || obj2String(marker.position) }}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>

        <ng-container *ngIf="marker?.markerItemIds?.length; else list_pinIcon">
          <ion-list *ngIf="miCollection$[marker.uuid] | async as items">
            <app-marker-item *ngIf="items[0] as mi"
              [mi]="mi" [parentLayout]="'gallery'" (miChange)="childComponentsChange($event)"></app-marker-item>
          </ion-list>
        </ng-container>
        <ng-template #list_pinIcon>
          <ion-button class="as-thumbnail" slot="start" expand="full" size="large" color="primary">
            <ion-icon name="pin" slot="icon-only"></ion-icon>
          </ion-button>
        </ng-template>

    </ion-card-content>
  </ion-card>


</div>