<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button class="mobile-only" text=""></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button fill="outline" (click)="toggleEditMode()" [disabled]="stash.disableEditMode" *ngIf="layout!='edit'">
          <ion-icon name="list" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button  color="secondary" fill="outline" (click)="toggleEditMode('commit')" *ngIf="layout=='edit'">
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button  color="danger" fill="outline" (click)="toggleEditMode('rollback')" *ngIf="layout=='edit'">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>         
    </ion-buttons>    
    <ion-title>
      Edit {{parent?.label || parent?.seq}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="google-maps-wrap hide">
  <app-google-maps *ngIf="markerCollection$ | async as items"
  [items]="items"
  [mode]="mapSettings" [activeView]="stash.activeView"
  [(selected)]="selectedMarkerGroup"
  (itemChange)="mappiMarkerChange($event)"
  ></app-google-maps>
</ion-header>


<ion-content no-padding class="marker-group-wrap">

  <!-- groupItem -->
  <ng-container [ngSwitch]="layout">
    <ion-grid no-padding  *ngSwitchCase="'edit'">
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" size-xl="6" offset-xl="3">
              <ion-reorder-group 
                [disabled]="layout!='edit'" 
                (ionItemReorder)="reorderMarkerGroup($event)">
                  <ion-list *ngFor="let item of mgCollection$ | async" #markerGroupList>
                    <app-marker-group *ngIf="item?._rest_action!='delete'"
                      [mg]="item" [parentLayout]="layout" 
                      (mgChange)="childComponentsChange($event)" [(mgFocus)]="mgFocus" ></app-marker-group>
                  </ion-list>
                </ion-reorder-group>
                <ion-list>
                    <!-- <ion-item class="add-marker-group wrap-btn-as-thumbnail" 
                      (click)="createMarkerGroup_fromPhotoLibrary($event)">
                        <ion-button  class="as-thumbnail" slot="start" expand="full" size="large">
                          <ion-icon slot="icon-only" name="add"></ion-icon>
                        </ion-button>
                      <ion-label color="primary"> Add photo/marker </ion-label>
                    </ion-item> -->
                    <app-marker-add 
                      [marker]="parent" 
                      (camerarollSelected)="createMarkerGroup_fromCameraroll($event)"
                      (markerChange)="createMarkerGroup_fromMarker($event)">
                      </app-marker-add>
                </ion-list>                  
        </ion-col>
      </ion-row>
    </ion-grid>    


    <ion-grid no-padding *ngSwitchCase="'default'">
      <ion-row>
        <ion-col size="12" size-sm="6" size-xl="4"
          class="marker-group-focus"
          ngClass.centered="mgFocus"
          *ngFor="let item of mgCollection$ | async">
          <app-marker-group  *ngIf="item?._rest_action!='delete'"
            [mg]="item" [parentLayout]="layout" 
            (mgChange)="childComponentsChange($event)"
            (thumbClick)="openGallery($event)"
            [(mgFocus)]="mgFocus" ></app-marker-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="6" size-xl="4">
          <app-photoswipe class="content-right-if-mq-landscape" 
          [data]="gallery"
          [screenDim]="screenDim$ | async"
          (indexChange)="handle_GalleryIndexChange($event)"
          ></app-photoswipe>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>

  

</ion-content>
