<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button fill="outline" (click)="getStaticMap()" *ngIf="gmap && layout!='edit'">
            <ion-icon name="cloud-download" slot="icon-only"></ion-icon>
          </ion-button>
      <ion-button fill="outline" (click)="toggleEditMode()" *ngIf="layout!='edit'">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button  color="secondary" fill="outline" (click)="toggleEditMode('commit')" *ngIf="layout=='edit'">
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button  color="danger" fill="outline" (click)="toggleEditMode('rollback')" *ngIf="layout=='edit'">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>         
    </ion-buttons>    
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- googleMaps -->
  <app-google-maps *ngIf="mgCollection$ | async as mappiMarkers"
    apiKey="AIzaSyApvJzra_C7sKYF8q1InQWw5c7RfTYTg94" 
    [items]="mappiMarkers"
    [mode]="layout"
    (itemChange)="mappiMarkerChange($event)"
    (mapReady)="setMap($event)"
  ></app-google-maps>


  <ion-toolbar class="sibling-component">
    <ion-buttons>
      <ng-container *ngFor="let item of mgCollection$ | async">
        <ion-button 
          *ngIf="item?._rest_action!='delete'"
          (click)="siblingClicked(item)"
          >
          {{item.label || item.seq }}
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>

  <!-- groupItem -->
  <ng-container [ngSwitch]="layout">
    <ion-grid fixed  *ngSwitchCase="'edit'">
      <ion-row>
        <ion-col size="12">
              <ion-reorder-group 
                disabled="false" 
                (ionItemReorder)="reorderMarkerGroup($event)">
  <!-- NOTE: ion-reorder does NOT drag-drop app-markger-group unless wrapped by ion-list -->
                  <ion-list *ngFor="let mg of mgCollection$ | async" >
                    <app-marker-group *ngIf="mg?._rest_action!='delete'"
                      [mg]="mg" [mListLayout]="layout" 
                      (mgChange)="childComponentsChange($event)" [(mgFocus)]="mgFocus" ></app-marker-group>
                  </ion-list>
                  <ion-list>
                      <ion-item class="add-marker-group" (click)="createMarkerGroup()">
                          <ion-button  class="thumbnail-overlay" slot="start" expand="full" size="large" color="dark">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                          </ion-button>
                          <ion-thumbnail slot="start">
                            <ion-img src="https://picsum.photos/80?random=0"></ion-img>
                          </ion-thumbnail>
                        <ion-label color="primary"> add photo/marker </ion-label>
                      </ion-item>
                  </ion-list>                  
              </ion-reorder-group>
        </ion-col>
      </ion-row>
    </ion-grid>    

    <ion-grid fixed *ngSwitchDefault>
      <ion-row>
        <ion-col size="12" size-lg="6"
          class="marker-group-focus"
          *ngFor="let mg of mgCollection$ | async">
          <app-marker-group  *ngIf="mg?._rest_action!='delete'"
            [mg]="mg" [mListLayout]="layout" 
            (mgChange)="childComponentsChange($event)" [(mgFocus)]="mgFocus" ></app-marker-group>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ng-container>

</ion-content>
