<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="mobile-only" text=""></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button fill="outline" (click)="getStaticMap()" *ngIf="gmap && layout!='edit'">
          <ion-icon name="cloud-download" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="outline" (click)="toggleEditMode()" *ngIf="layout!='edit'">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button  color="secondary" fill="outline" (click)="toggleEditMode('commit')" *ngIf="layout=='edit'">
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button  color="danger" fill="outline" (click)="toggleEditMode('rollback')" *ngIf="layout=='edit'">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>         
    </ion-buttons>    
    <ion-title>
      Map {{parent?.label || parent?.seq}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="google-maps-wrap">
  <!-- googleMaps -->
  <app-google-maps *ngIf="markerCollection$ | async as items"
  apiKey="AIzaSyApvJzra_C7sKYF8q1InQWw5c7RfTYTg94" 
  [items]="items"
  [mode]="layout"
  [(selected)]="selectedMarkerGroup"
  (itemChange)="mappiMarkerChange($event)"
  (mapReady)="setMap($event)"
  ></app-google-maps>
</ion-header>


<ion-content no-padding class="marker-group-wrap content-right-if-mq-landscape">

  <ion-toolbar class="sibling-component" *ngIf="false">
    <ion-buttons>
      <ng-container *ngFor="let item of mgCollection$ | async">
        <ion-button 
          *ngIf="item?._rest_action!='delete'"
          (click)="siblingClicked(item)"
          >
          {{item.label || item.seq }}
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>

  <!-- QRcode/Share Map ion-card -->
  <ng-container *ngIf="qrcodeData">
    <ion-card margin-vertical>
      <ion-card-header>
          <ion-toolbar color="primary">
              <ion-card-title color="light" >Share Map</ion-card-title>
              <ion-buttons slot="end">
                <ion-button color="light" fill="outline" title="Share QR Code"
                  (click)="toggle.mapLink=!toggle.mapLink">
                  <ion-icon slot="icon-only" name="share"></ion-icon>
                </ion-button>    
                <ion-button color="light" fill="outline" title="Show Printable Map"
                  (click)="browserOpen(qrcodeData)">
                    <ion-icon slot="icon-only" name="open"></ion-icon>
                </ion-button>         
                <ion-button color="light" fill="outline" 
                  (click)="qrcodeData=null">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>        
      </ion-card-header>
      <ion-card-content padding-vertical>
        <ion-item text-center no-padding>
          <ion-label>
            <p>Scan this QR code to link to this page.</p>
          </ion-label>          
        </ion-item>
        <ion-item no-padding>
          <div [ngStyle]="{'margin':'auto'}">
              <qrcode [qrdata]="qrcodeData" [size]="256" [level]="'M'"></qrcode>
          </div>
        </ion-item>
        <ion-item no-padding>
          <ion-label *ngIf="toggle.mapLink">
            <h2>Copy Map Link</h2>
            <p><ion-text text-wrap color="primary">{{qrcodeData}}</ion-text></p>
          </ion-label>
        </ion-item>  
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- groupItem -->
  <ng-container [ngSwitch]="layout">
    <ion-grid no-padding  *ngSwitchCase="'edit'">
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" size-xl="6" offset-xl="3">
              <ion-reorder-group 
                [disabled]="layout!='edit'" 
                (ionItemReorder)="reorderMarkerGroup($event)">
  <!-- NOTE: ion-reorder does NOT drag-drop app-markger-group unless wrapped by ion-list -->
                  <ion-list *ngFor="let item of mgCollection$ | async" >
                    <app-marker-group *ngIf="item?._rest_action!='delete'"
                      [mg]="item" [parentLayout]="layout" 
                      (mgChange)="childComponentsChange($event)" [(mgFocus)]="mgFocus" ></app-marker-group>
                  </ion-list>
                  <ion-list>
                      <ion-item class="add-marker-group wrap-btn-as-thumbnail" (click)="createMarkerGroup($event)">
                          <ion-button  class="as-thumbnail" slot="start" expand="full" size="large">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                          </ion-button>
                          <!-- <ion-thumbnail slot="start">
                            <ion-img src="https://picsum.photos/80?image=0"></ion-img>
                          </ion-thumbnail> -->
                        <ion-label color="primary"> Add photo/marker </ion-label>
                      </ion-item>
                  </ion-list>                  
              </ion-reorder-group>
        </ion-col>
      </ion-row>
    </ion-grid>    


    <ion-grid no-padding *ngSwitchCase="'default'">
      <ion-row>
        <ion-col size="12" size-sm="6" size-xl="4"
          class="marker-group-focus"
          ngClass.centered="mgFocus"
          *ngFor="let item of mgCollection$ | async">
          <app-marker-group  *ngIf="item?._rest_action!='delete'"
            [mg]="item" [parentLayout]="layout" 
            (mgChange)="childComponentsChange($event)"
            (thumbClick)="openGallery($event)"
            [(mgFocus)]="mgFocus" ></app-marker-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="6" size-xl="4">
          <app-photoswipe class="content-right-if-mq-landscape" [data]="gallery"></app-photoswipe>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>

  

</ion-content>
