<ion-header>
  <ion-toolbar>
    <ion-title>Camera Roll</ion-title>
    <ion-buttons slot="end">
      <ion-button  color="secondary" fill="outline"  (click)="commit()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="outline" (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-list no-padding no-margin *ngFor="let moment of momCollection$ | async">
    <ion-item-divider color="secondary">
      <ion-label>
        <h2>Moment: {{moment['label']}}</h2>
        <p>{{moment['begins']}} - {{moment['days']}} days</p>
        <p>{{moment['count']}} photos</p>
      </ion-label>
    </ion-item-divider>
  <!-- see: http://w3bits.com/flexbox-masonry/ -->
  <div class="masonry-wrap">
    <ng-container *ngFor="let mi of moment.photos">
      <div class="img-wrap masonry-brick" *ngIf="(mi.imgSrc$ | async) as imgSrc"
        (click)="toggle($event, mi, 'selected')"
        >
        <img [src]="imgSrc.src">
        <div class="overlay" [ngClass]="{selected:mi._isSelected}">
            <ion-icon [name]="mi._isFavorite ? 'heart' : 'heart-empty'"  
            [color]="mi._isFavorite ? 'secondary' : 'dark'" 
            (click)="toggle($event, mi, 'favorite')"
            ></ion-icon>
            <ion-icon class="select" [name]="mi._isSelected ? 'checkmark-circle' : 'checkmark-circle-outline'" 
            [color]="mi._isSelected ? 'primary' : 'dark'" 
            ></ion-icon>
        </div>
      </div>
    </ng-container>
  </div>
</ion-list>


</ion-content>
